[run]
concurrency = multiprocessing

[report]
exclude_lines =
    if __name__ == '__main__':
    self.fail\(.*\)
    except KeyboardInterrupt:
    pragma: no cover
include =
    ./*
omit =
    ./.tox/*
